*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* colors */
  --color-white: #fff;
  --color-black: #000;
  --color-blue: #103f74;
  --color-blue-dark: #192252;
  --color-blue-lighter: #65a8fb;
  --color-gray-light: #c5d0e6;
  --color-gray-darker: #d8d1d1;

  /*  font weights  */
  --font-thin: 100;
  --font-extralight: 200;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;

  /*  font family  */
  --font-family-poppins: "Poppins", sans-serif;
}

body {
  font-family: var(--font-family-poppins);
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 32px;
  letter-spacing: 0.5%;
  color: #192252;
}

form {
  margin-top: 2rem;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}
